.container {
  display: flex;
  height: 100vh;
  background-color: rgb(163, 195, 245);
}

.header {
  width: 100%;
  height: 15vh;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(221, 150, 103);
  border-bottom: 5px double white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4rem;
  color: white;
}

.left-view,
.right-view {
  width: 50%;
}

.left-view {
  display: grid;
  grid: 9fr 1fr 10fr 9fr / 1fr 4fr 1fr;
  grid-template-areas:
    '. . .'
    '. search .'
    '. table .'
    '. . .';
}

.right-view {
  display: grid;
  grid: 2fr 7fr 1fr / 1fr 4fr 1fr;
  grid-template-areas:
    '. . .'
    '. log .'
    '. . .';
}

@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }

  .header {
    font-size: 3.1rem;
  }

  .container {
    flex-direction: column;
    height: 100%;
  }

  .left-view,
  .right-view {
    width: 100%;
  }

  .left-view {
    min-height: 70vh;
    max-height: 90vh;
    grid: 4fr 1fr 5fr 3fr / 1fr 4fr 1fr;
    grid-template-areas:
      '. . .'
      '. search .'
      '. table .'
      '. . .';
  }

  .right-view {
    min-height: 70vh;
    max-height: 100vh;
    grid: 7fr 1fr / 1fr 5fr 1fr;
    grid-template-areas:
      ' . log .'
      '. . .';
  }
}

@media (max-width: 770px) {
  .left-view {
    grid: 4fr 1fr 5fr 3fr / 1fr 8fr 1fr;
    grid-template-areas:
      '. . .'
      '. search .'
      '. table .'
      '. . .';
  }

  .right-view {
    grid: 7fr 1fr / 1fr 10fr 1fr;
    grid-template-areas:
      '. log .'
      '. . .';
  }
}

@media (max-width: 640px) {
  html {
    font-size: 55%;
  }

  .left-view {
    grid: 4fr 1fr 5fr 3fr / 1fr;
    grid-template-areas:
      '.'
      'search'
      'table'
      '.';
  }

  .right-view {
    grid: 7fr 1fr / 1fr;
    grid-template-areas:
      'log'
      '.';
  }
}

@media (max-width: 480px) {
  .right-view {
    grid: 1fr / 1fr;
    grid-template-areas: 'log';
  }
}
