.log-pane {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: thin solid black;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  background-color: rgb(245, 211, 167);
}

.duplicate {
  background-color: yellowgreen;
}

.remove-button {
  border-radius: 0.5rem;
  background-color: rgb(240, 62, 62);
  outline: none;
  color: white;
  align-self: flex-start;
  font-size: 1.3rem;
}

.log-description {
  width: 30%;
}

.serving-size {
  display: flex;
  align-items: center;
  width: 30%;
  text-align: right;
}

.serving-size input {
  height: 1.6rem;
  width: 4rem;
  font-size: 1.4rem;
  margin-left: 1rem;
  margin-right: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}

.calorie-count {
  width: 15%;
  text-align: right;
}
