.search-bar {
  grid-area: search;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.search-input {
  flex-grow: 1;
  height: 3rem;
}

.search-button {
  height: 2rem;
  align-self: center;
}
