.search-bar {
  grid-area: search;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.search-input {
  flex-grow: 1;
  margin-left: 0;
  font-size: 1.6rem;
  padding: 1rem;
  padding-left: 4rem;
  border-radius: 2rem;
  background: white
    url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png');
  background-position: 1rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  outline: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
