.results-table-wrapper {
  grid-area: table;
  overflow: auto;
  border: thin solid black;
  border-radius: 2rem;
}

.results-table {
  height: 100%;
  background-color: white;
  text-align: center;
  border-spacing: 0;
  overflow: hidden;
  font-size: 1.6rem;
}

.results-table td {
  border-bottom: thin solid black;
  text-align: center;
  padding: 1rem;
}

.results-table th {
  height: 4rem;
  font-size: 1.8rem;
  border-bottom: thin solid black;
  background-color: rgb(255, 248, 183);
}

.results-table tr td:nth-child(1) {
  width: 40%;
}

.results-table tr td:nth-child(2) {
  width: 35%;
}

.results-table tr:hover {
  background-color: rgb(255, 253, 134);
}

#no-results:hover {
  background-color: white;
}
