.results-table {
  grid-area: table;
  height: 100%;
  background-color: white;
  text-align: center;
  border: thin solid black;
  font-size: 1.6rem;
}

.results-table td {
  border-bottom: thin solid black;
}

.results-table th {
  border-bottom: thin solid black;
  background-color: rgb(255, 248, 183);
}
